<div class="overlay">
  <app-nav-tabs></app-nav-tabs>
  <div class="content" [ngStyle]="{'padding-top' : isMobile ? '56px' : '40px' }">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <div class="vh-100" style="background: black;">
  <div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
</div> -->
<div id="container" class="z-n1"></div>
<!-- <app-loader></app-loader> -->
<!-- <app-cursor></app-cursor> -->
<!-- <div [@routeAnimations]="o && o.activatedRouteData 
      && o.activatedRouteData['animation']">
    <router-outlet #o="outlet"></router-outlet>
</div> -->
