.skill {
  font-family: "futura";
}

.btn-group {
  pointer-events: all;
}

.card {
  pointer-events: all;
  transition: transform .25s ease;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card {
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}
