<div class="container-fluid canvas z-1">
  <div class="row">
    <div class="col-sm-4 d-flex justify-content-center align-items-center">
      <img
        src="../../assets/images/astro.png"
        class="img-thumbnail bg-transparent border-0 astro"
        alt=""
      />
    </div>
    <div class="col-sm-8 pe-5">
      <div class="container text-start mt-5">
        <p class="mb-0">Nice to meet you</p>
        <h1 class="display-4 fw-bold">Hi there, <br/>I'm Sreenath</h1>
        <h5>
          I'm a Software Developer based in <span class="text-primary">Bengaluru, India</span> who's experienced in
          taking full-stack applications from concept to production. <br><br>  Currently,
          I work as a Senior Software Developer at <span class="text-primary">HCL Technologies</span>. <br><br> Over the
          past two years, I've worked on a variety of exciting projects,
          including developing mobile apps, creating web apps, developing
          digital twins, creating simulation models, building backend servers,
          designing 3D models, handling UX/UI design, managing databases, and
          implementing desktop applications.
        </h5>
      </div>
    </div>
  </div>
</div>

