<div class="d-flex justify-content-center">
  <div class="m-0 col-7" [ngClass]="{ 'col-7': !isMobile, 'col-11': isMobile }">
    <h1 class="display-3 title text-center my-3">LET'S CONNECT</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div
        class="d-flex"
        [ngClass]="{ 'bd-highlight': !isMobile, 'flex-column': isMobile }"
      >
        <div class="flex-fill bd-highlight" [ngClass]="{ 'pe-2': !isMobile }">
          <div class="form-floating mb-3 mt-0">
            <input
              type="name"
              class="form-control"
              id="name"
              formControlName="name"
              placeholder=""
            />
            <label for="floatingInput">Name</label>
          </div>
        </div>
        <div class="flex-fill bd-highlight" [ngClass]="{ 'ps-2': !isMobile }">
          <div class="form-floating mb-3 mt-0">
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder=""
            />
            <label for="floatingInput">Email</label>
          </div>
        </div>
      </div>
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="subject"
          formControlName="subject"
          placeholder=""
        />
        <label for="floatingInput">Subject</label>
      </div>
      <div class="d-flex align-items-start mt-3">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea
          class="form-control"
          id="body"
          formControlName="body"
          rows="3"
        ></textarea>
      </div>

      <div class="col-12 text-center">
        <button
          class="btn btn-primary mt-3"
          type="submit"
          [disabled]="contactForm.invalid"
        >
          Send <fa-icon [icon]="send"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="container-fluid position-absolute bottom-0 text-center footer" [ngClass]="{'mb-2':isMobile}" >
  <div class="d-flex justify-content-center">
    <a
      role="button"
      href="https://www.facebook.com/sreenath.lavadiya.17/"
      class="btn btn-lg"
      ><fa-icon [ngClass]="{'display-6':isMobile}" [icon]="logos.fb"></fa-icon
    ></a>
    <a role="button" href="https://x.com/sreenath_17" class="btn btn-lg"
      ><fa-icon [ngClass]="{'display-6':isMobile}" [icon]="logos.twitter"></fa-icon
    ></a>
    <a
      role="button"
      href="https://www.linkedin.com/in/sreenath-l-3731b4219"
      class="btn btn-lg"
      ><fa-icon [ngClass]="{'display-6':isMobile}" [icon]="logos.linkedIn"></fa-icon
    ></a>
    <a
      role="button"
      href="https://www.instagram.com/srichie_17/"
      class="btn btn-lg"
      ><fa-icon [ngClass]="{'display-6':isMobile}" [icon]="logos.instagram"></fa-icon
    ></a>
  </div>
</div>
