<div
  class="container-fluid d-flex position-absolute top-0 align-items-center justify-content-center page"
>
  <div class="container-fluid text-center title mb-4">
    <h1 class="display-1">Sreenath Lavadiya</h1>
    <div class="d-flex justify-content-center">
      <h3 class="px-2">Full Stack Developer</h3>
      <h3 class="px-2">|</h3>
      <h3 class="px-2">Technical Lead</h3>
      <h3 class="px-2">|</h3>
      <h3 class="px-2">3D Designer</h3>
    </div>
  </div>
</div>

<div class="container-fluid position-absolute bottom-0 text-center footer">
  <div class="d-flex justify-content-center">
    <a
      role="button"
      href="https://www.facebook.com/sreenath.lavadiya.17/"
      class="btn btn-lg"
      ><fa-icon [icon]="logos.fb"></fa-icon
    ></a>
    <a role="button" href="https://x.com/sreenath_17" class="btn btn-lg"
      ><fa-icon [icon]="logos.twitter"></fa-icon
    ></a>
    <a
      role="button"
      href="https://www.linkedin.com/in/sreenath-l-3731b4219"
      class="btn btn-lg"
      ><fa-icon [icon]="logos.linkedIn"></fa-icon
    ></a>
    <a
      role="button"
      href="https://www.instagram.com/srichie_17/"
      class="btn btn-lg"
      ><fa-icon [icon]="logos.instagram"></fa-icon
    ></a>
  </div>
</div>
