<div class="container-fluid row position-relative body ms-0 me-3 ps-0">
  <div class="col-sm-6 ps-3 pb-3 pe-4 ">
    <!-- <h1 class="display-4 title text-start">LET'S CONNECT</h1> -->
    <div id="map" class="rounded"></div>
  </div>

  <div class="col-sm-6 mb-1 rounded d-flex flex-column">
    <h1 class="display-1 title text-center mb-0">LET'S CONNECT</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="row g-3 mt-0">
        <div class="col">
          <div class="form-floating mb-3 mt-0">
            <input
              type="name"
              class="form-control"
              id="name"
              formControlName="name"
              placeholder=""
            />
            <label for="floatingInput">Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mt-0">
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder=""
            />
            <label for="floatingInput">Email</label>
          </div>
        </div>
      </div>
      <div class="form-floating mb-0">
        <input
          type="email"
          class="form-control"
          id="subject"
          formControlName="subject"
          placeholder=""
        />
        <label for="floatingInput">Subject</label>
      </div>

      <div>
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea
          class="form-control"
          id="body"
          formControlName="body"
          rows="3"
        ></textarea>
      </div>
      <div class="col-12 text-center">
        <button
          class="btn btn-primary mt-3"
          type="submit"
          [disabled]="contactForm.invalid"
        >
          Send <fa-icon [icon]="send"></fa-icon>
        </button>
      </div>
    </form>
    <div class="col-12 text-center mt-auto">
      <a
        role="button"
        href="https://www.facebook.com/sreenath.lavadiya.17/"
        class="btn btn-lg py-0"
        ><h2><fa-icon [icon]="logos.fb"></fa-icon></h2
      ></a>
      <a role="button" href="https://x.com/sreenath_17" class="btn btn-lg"
        ><h2><fa-icon [icon]="logos.twitter"></fa-icon></h2
      ></a>
      <a
        role="button"
        href="https://www.linkedin.com/in/sreenath-l-3731b4219"
        class="btn btn-lg"
        ><h2>
          <fa-icon [icon]="logos.linkedIn"></fa-icon></h2
      ></a>
      <a
        role="button"
        href="https://www.instagram.com/srichie_17/"
        class="btn btn-lg"
        ><h2>
          <fa-icon [icon]="logos.instagram"></fa-icon></h2
      ></a>
    </div>
  </div>
</div>
