.row {
  color: white;
  pointer-events: none;
}

.astro {
  height: 400px;
  animation: float 6s ease-in-out infinite;
}
h5 {
  line-height: 1.6;
}

.canvas {
  pointer-events: none;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
