@font-face {
  font-family: futura;
  src: url(assets/fonts/futora/FuturaCyrillicBook.ttf);
}

@font-face {
  font-family: arsenal;
  src: url(assets/fonts/Arsenal_SC/ArsenalSC-Bold.ttf);
}

@font-face {
  font-family: pacifico;
  src: url(assets/fonts/Pacifico-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "futura";
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;      
  -ms-overflow-style: none;  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;       
}
