<div
  class="container-fluid px-0 bar"
>
  <div class="s" style="margin-left: auto">
    <ul class="nav justify-content-end" *ngIf="!isMobile">
      <div class="logo">
        <h4 class="px-3 mb-0">sl .</h4>
      </div>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          aria-selected="true"
          routerLink="/home"
          ><p class="mb-0">home</p></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/about"
          ><p class="mb-0">about</p></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/skills"
          ><p class="mb-0">skills</p></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/work"
          ><p class="mb-0">work</p></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contact"
          ><p class="mb-0">contact</p></a
        >
      </li>
    </ul>
    <ul class="nav justify-content-end" *ngIf="isMobile" >
      <div class="logo mob">
        <h4 class="px-3 mb-0">sl .</h4>
      </div>
      <label class="hamburger p-2" (change)="toggleDD()" *ngIf="isMobile">
        <input type="checkbox" [checked]="showDropDown" value="showDropDown" />
        <svg viewBox="0 0 32 32">
          <path
            class="line line-top-bottom"
            d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
          ></path>
          <path class="line" d="M7 16 27 16"></path>
        </svg>
      </label>
    </ul>
    <ul class="menu pb-0  text-center" *ngIf="showDropDown">
      <li class="menu-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          aria-selected="true"
          routerLink="/home"
          (click)="showDropDown = false"
          ><p class="mb-0">Home</p></a
        >
      </li>
      <li class="menu-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/about"
          (click)="showDropDown = false"
          ><p class="mb-0">About</p></a
        >
      </li>
      <li class="menu-item">
        <a href="#"
          ><a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/skills"
            (click)="showDropDown = false"
            ><p class="mb-0">Skills</p></a
          ></a
        >
      </li>
      <li class="menu-item">
        <a href="#"
          ><a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/work"
            (click)="showDropDown = false"
            ><p class="mb-0">Work</p></a
          ></a
        >
      </li>
      <li class="menu-item">
        <a href="#"
          ><a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/contact"
            (click)="showDropDown = false"
            ><p class="mb-0">Contact</p></a
          ></a
        >
      </li>
    </ul>
  </div>
</div>


